<nav class="navbar" style="background-color: #00D7B0;">
    <div class="container">
        <div class="navbar-header">
            <h1 class="navbar-brand">
                <a data-type='rd-navbar-brand' href="detalle/{{this.empresa.id}}">{{this.empresa.denominacion}}</a>
                <!--a data-type='rd-navbar-brand' href="./">Denominación Empresa</a-->
            </h1>
            <!--a class="search-form_toggle" href="#"></a-->
        </div>
        <div class="help-box text-right">
            <p>Telefono
                <br>
                <a class="btn btn-secondary" href="callto:#">{{this.empresa.telefono}}</a>
                <br>
                <small><span>Horario:</span> {{this.empresa.horarioDeAtencion}}</small>
            </p>
        </div>
    </div>
</nav>