<section>
  <div class="container mt-5">
    <div class="row mb-4">
      <div class="col-xs-12 col-sm-8 col-md-10">
        <h2>Gestión de Noticias</h2>
      </div>
      <div class=" col-xs-12 col-sm-4 col-md-2">
        <button type="button" class="btn btn-primary float-right ml-3 btn-block" (click)="agregar()">+ Agregar</button>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col" hidden>Resumen</th>
              <th scope="col" hidden>Imagen</th>
              <th scope="col" hidden>Contenido</th>
              <th scope="col">Publicada</th>
              <th scope="col">Fecha</th>
              <th scope="col">Empresa</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of noticias">
              <th scope="row">{{i.id}}</th>
              <td>{{i.titulo_de_la_noticia}}</td>
              <td hidden>{{i.resumen_de_la_noticia}}</td>
              <td hidden>{{i.imagen_noticia}}</td>
              <td hidden>{{i.contenido_html}}</td>
              <td>{{i.publicada}}</td>
              <td>{{i.fecha_publicacion}}</td>
              <td *ngFor="let k of empresas">{{k.denominacion}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="update(i.id)">Actualizar</button>
                <button type="button" class="btn btn-danger" (click)="delete(i)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
